@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<section>

    <header>
        <h1>This is Service Page</h1>
    </header>
    <section>
        <p>
            Our services are as follows:
        </p>

        <ol>
            <li>Online Content Creator</li>
            <li>Private Class</li>
            <li>Group Class</li>
            <li>Android App Developemt</li>
            <li>Web Development</li>
            <li>Computer Services</li>
        </ol>

        <p>
            Thank you for visiting out YouTube Channel.
        </p>
    </section>
</section>
