@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section>

    <header>
        <h1>This is About Page</h1>
    </header>
    <section>
        <p>
            Aqyanoos is a YouTube channel that teachs you all about computer, coding, programming,...
        </p>

        <p>
            Thank you for visiting out YouTube Channel.
        </p>
    </section>
</section>
